*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*VARIABLES COLORES*/
:root{
    --colorAzul:  #339999;
    --colorAzulSec:  #D7EEEF;
    --colorBlanco: #FFF;
    --colorGris:  #DBDBDB;
}

body {
    font-family: sans-serif;
    margin: 0;
    background: var(--colorGris);
    color: #34908C;
    justify-content: center;
    text-align: center;
}

/*Header*/
header {
    background: var(--colorAzul);
    color: white;
    /*display: flex;*/
    /*justify-content: space-between;*/
    align-items: center;
    padding: 10px;
}
.header{
    position: relative;
    display: flex;
    min-height: 3vh;
    justify-items: center;
    text-align: center;
    padding: 5px;
    align-items: center;
}

.header-icono{
    position: absolute;
    left: 10px;
}


.header-nav{
    position: absolute;
    right: 10px;
    display: flex;
    gap: 10px;
}

.header-nav svg:hover{
    fill: var(--colorAzulSec);
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 20px;
    height: 26px;
    width: 26px;
    transition: all 300ms ease-in-out;
}

.header-nav span{
    color: white;
}

.icono{
    width: 70px;
    height: 70px;
}
/*Fin Header*/


/*INDEX*/

.indexContent{
    height: 90%;
    display: flex;
}

.index-tituloFotoDesc{
    display: flex;
    position: relative;
}

.TituloDescIndex{
    position: absolute;
    right: 10px;
    min-width: 370px;
    gap: 40px;
}

.FotoIndex{
    position: absolute;
    left: 10px;
}

.FotoIndex img{
    max-width: 400px;
}



.Intro{
    font-size: 15px;
    margin-left: 20px;
}

main {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 85vh;
}

.inicio{
    background: white;
}

.button {
    background: #e0f0ff;
    border: 1px solid #aaa;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.botones{
    margin-top: 10px;
    display: flex;
}

/*Formulario Log In*/
.cajaBlanca{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 40%;
    margin: 50px;
    border-radius: 10px;
    align-items: center;
}

.Fieldset{
    /*display: none;*/
    border: 0;
    display: flex;
    flex-direction: column;
}

.ProfileFieldS{
    width: 600px;
}

.Input{
    background-color: #D7EEEF;
    border: 0;
    border-radius: 15px;
    padding: 4px;
}
.Input:hover{
    background-color: #c0dee0;
    transition: 0.5s ease;
}

.br{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 4px;
}

.link{
    color: #163E93;
}
.link:hover{
    color:#426f94;
}

.txtRegistrate{
    margin-top: 20px;
}

.Select{
    background-color: #D7EEEF;
    border: 0;
    border-radius: 15px;
    padding: 4px;
    color: #556066;
}


.botonIS{
    margin-top: 20px;
    background-color: #B3DBDC;
    padding: 7px;
    border-radius: 15px;
    min-width: 130px;
    border: #9A9A9A, solid, 0.3px;
}
.botonIS:hover{
    background-color: #34908C;
    color: #B3DBDC;
    transition: 0.5s ease;
}

/*Log out*/
.txtPeq{
    margin-top: 10px;
    font-size: smaller;
}

/*Perfil Alumno*/
.cajaBlancaProfileAlum{
    max-width: 80%;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    padding: 40px;
    text-align: left;
}

.CajaNomb{
    display: flex;
    gap: 10%;
    position: relative;
    
}

.editarEstadoPerfil{
    text-align: right;
    border: 1px, solid;
    margin-left: 10%;
    
}

.aLaDer{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.tituloPerfil{
    background-color: #B3DBDC;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.editaPerfilInput{
    border: 0.3px, #7e898f, solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    
}
.editaPerfilInputDer{
    border: 0.3px, #7e898f, solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    width:100%;
}

.PerfilDer{
    display: flex;
    gap: 10%;
}
.PerfilDerTitulo{
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

.idiomaListaDiv{
    display: flex;
    flex-direction: column;
    gap: 20%;
    margin-bottom: 5px;
}

.IdiomaParr{
    color: #333;
    margin-right: 30%;
}

.SelectIdiom{
    border-radius: 10px;
    padding: 3px;
    border: 0.5px #7fa7a5, solid;
}


.botonAddLeng{
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    background-color: #34908C;
    font-weight: bold;
    color: white;
}

.botonAddLeng:hover{
    background-color:#63a5a1;
    transition: 0.4s, ease;
}