*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #34908C;
}
body{
    background-color: #DBDBDB;
    font-family: sans-serif;
    color: #34908C;
    justify-content: center;
    text-align: center;
}

/*Index*/
.h2-index {
    font-size: 2.5em;
    margin-top: 20px;
    color: #34908C;
}

.img-Index {
    width: 100px;
    height: 100px;
    max-width: 600px;
    margin-top: 20px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 10px;
}

.botones-index {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: 10px;
}

/*Formulario Log In*/
.cajaBlanca{
    background-color: white;
    padding: 20px;
    width: 250px;
    margin: 50px;
    border-radius: 10px;
    
}

.Fieldset{
    /*display: none;*/
    border: 0;
    display: flex;
    flex-direction: column;
}

.Input{
    background-color: #D7EEEF;
    border: 0;
    border-radius: 15px;
    padding: 4px;
}
.Input:hover{
    background-color: #c0dee0;
    transition: 0.5s ease;
}

.br{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 4px;
}

.link{
    color: #163E93;
}
.link:hover{
    color:#426f94;
}

.txtRegistrate{
    margin-top: 20px;
}

.Select{
    background-color: #D7EEEF;
    border: 0;
    border-radius: 15px;
    padding: 4px;
    color: #556066;
}


.botonIS{
    margin-top: 20px;
    background-color: #B3DBDC;
    padding: 7px;
    border-radius: 15px;
    min-width: 130px;
    border: #9A9A9A, solid, 0.3px;
}
.botonIS:hover{
    background-color: #34908C;
    color: #B3DBDC;
    transition: 0.5s ease;
}

/*Log out*/
.txtPeq{
    margin-top: 10px;
    font-size: smaller;
}

/*Perfil Alumno*/
.cajaBlancaProfileAlum{
    max-width: 80%;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.ProfileAlum{
    
}

.CajaNomb{
    display: flex;
    gap: 10%;
    position: relative;
    
}

.editarEstadoPerfil{
    text-align: right;
    border: 1px, solid;
    margin-left: 10%;
    
}

.aLaDer{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.tituloPerfil{
    background-color: #B3DBDC;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}

.editaPerfilInput{
    border: 0.3px, #7e898f, solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    
}
.editaPerfilInputDer{
    border: 0.3px, #7e898f, solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    width:100%;
}

.PerfilDer{
    display: flex;
    gap: 10%;
}
.PerfilDerTitulo{
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

#idiomaListaDiv{
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.IdiomaParr{
    color: #333;
    
}